.question {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: .5rem 1rem;
    @include breakpoint(800px){
        padding: 2rem 2rem;
    }
}

.eval-intro {    
    text-align: center;   
    
    &_title {
        font-size: 1.6rem;
        font-weight: bold;
        @include breakpoint(800px down){
            font-size: 1.1rem;
        }
        
    }
    p {
        @include breakpoint(800px down){
            line-height: 1.2rem;
        }
    }   
}
.the-text{
    font-weight: bold;
    @include breakpoint(medium){
        font-size: 1.3rem;
    }
    @media only screen and (max-height: 400px) {
        /* For mobile phones: */
        font-size: 1rem;
       
    }
}



.match{    
    @include breakpoint(medium){
        max-width: 50%;
    }
    margin: 0 auto;
    padding-top: 1rem;
    overflow:auto;
}
.left-side, .right-side {
    @media only screen and (max-height: 400px) {
        /* For mobile phones: */
       font-size: .8rem;
    }    
   
    ul{
        list-style:none;
        margin: 0;

        li {
            margin: .5rem 0;
            padding: .2rem .5rem;
            background-color: $light-gray;
            border-radius: 1rem;
            border: solid 2px transparent;

            &:hover {
                cursor: pointer;
                background-color: $medium-gray;
            }
        }
    }
}
// .left-side {
//     float: left;
//     @include breakpoint(800px down){
//         width: 49%;
//     }
// }
// .right-side {
//     float:right;
//     @include breakpoint(800px down){
//         width: 49%;
//     }

// }
.reset {
    color: $color-peri;
    text-align: center; 
    
    border: solid 3px $color-peri;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    margin: 0 auto;

    .er-button {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.3rem;
    }
    

    &:hover{
        background-color: rgb(228, 228, 228);
        cursor: pointer;
    }  
}


.number-answer{
    background-color: lighten($primary-color, $amount: 30);
    padding: 1rem 0;
    border-radius: 1rem;
    margin-top: 2rem;
    
    input {
        max-width: 350px;
        margin: 0 auto;
    }
}


.desp-secc {
    // max-width: 500px;
    // margin: 0 auto;
    padding-top: 2rem;

    ul{
        list-style: none;
        margin: 0;

        li {
            height: 2.4rem;
            padding-top: .5rem;
            margin-bottom: 1rem
        }
    }
}

.next {
    text-align: center;
}
.end {
    text-align: center;
}

@media only screen and (max-height: 400px) {
    /* For mobile phones: */
   
}


#evalMenu {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: .5rem;
    @include breakpoint(medium){
        left: 1rem;
    }
    @media only screen and (max-height: 400px) {
        /* For mobile phones: */
        left: .3rem;
       
    }

    z-index: 11;    
    list-style: none;
    margin: 0;

        li {
            margin-bottom: .3rem;
            width: 1.5rem;
            height: 1.5rem;
            border-radius: 1.5rem;
            border: solid 2px transparent;
            text-align: center;
            @media only screen and (max-height: 400px) {
                /* For mobile phones: */
                margin-bottom: 0

                
            }
        
            a{
                display: block;
                position: relative;
                line-height: 0;
                text-align: center;              
                font-size: .8rem;
                top: 50%;
                transform: translate(50%, -50%);
                right: 50%;        
            }



            
        }

        .active {
            border: solid 2px $color-peri;
            transition: all .2s;
        }
    
}

.eval-inputs {
    visibility: hidden;
}

.the-answer{
    max-width: 1000px;
    margin: 0 auto;
    
}

.correct-icon {
    color: green;
    max-width: 3rem;
    font-size: 3rem;
    margin-top: -3rem;
    @include breakpoint(800px down){
        margin-left: auto;
        margin-right: auto;
        margin-top: -1rem;
    }
}
.incorrect-icon {
    color: red;
    max-width: 3rem;
    font-size: 3rem;
    margin-top: -3rem;
    @include breakpoint(800px down){
        margin-left: auto;
        margin-right: auto;
        margin-top: -1rem;
    }
}

.answer-correct{
    margin-top: 1rem;
    font-weight: bold;
    color: green;

}
.answer-incorrect{
    margin-top: 1rem;
    font-weight: bold;
    color: red;
}

.hideit{
    display: none;
}
