.canvas  {
    // height: 500px;
    // width: 300px;
    // background-repeat: no-repeat;
    background-size: cover;
    // margin: 0 auto;
    // margin-bottom: 1rem;
    // @include breakpoint(medium){
    //     float: left;
    // }
    max-width: 310px;
    margin: 0 auto;

}


.frame{
    
    display: flex;

}
.drop-area{
    // border: solid 1px black;
    height: 125px;
    // width: 75px;
    // border: solid 1px black;
    flex: 1;

    .block {
        height: 100%;
        width: 100%;
        
        // background-color: rgba(red, $alpha: .5);
        // position: relative;

        .oda-image{
            height: 100%;
            width: 100%;
            display: block;
            
            position: relative;
            img{
                position: absolute;
                // bottom: 0;
                // left: 0;
                // height: 100px;
                // width: 100px;
                top: 50%;
                transform: translateY(-50%);
                max-width: 100%;
                transition: all .3s;
            }
        }
        .icon {
            color:$color-naranja;
            position: absolute;


        }  
        
              
        

    }
}

#the-odas {
    display: none;
}



.unopened{

    .oda-image{
        filter: grayscale(100%);
        transition: all 2s;
        &:hover {
            filter: grayscale(0%);
            transition: all .2s;
            
            img{
                transform:translateY(-50%) scale(1.5);
                transition: all .2s;   
            }
        }
    }
}

.in-progress {

    .oda-image{
        
        &:hover{
            img {               
                transform:translateY(-50%) scale(1.5);
            }
        }
    }
}

.completed {
    .oda-image{
        
        &:hover{
            img {               
                transform:translateY(-50%) scale(1.5);
            }
        }
    }  
    
}

.finalized {
    .oda-image{
        
        &:hover{
            img {               
                transform:translateY(-50%) scale(1.5);
            }
        }
    }

}


.wobble-hor-bottom {
	-webkit-animation: wobble-hor-bottom 0.8s both;
	        animation: wobble-hor-bottom 0.8s both;
}


