.notification-wrapper {
  position: absolute;
  top: 50px;
  right: 0;
  // background-color: red;
  // background: linear-gradient(
  //   200deg,
  //   rgba(0, 0, 0, 0.65) 0%,
  //   rgba(0, 0, 0, 0) 70%
  // );
  width: 100%;
  @include breakpoint(600px) {
    width: 400px;
  }
}

.notification {
  border: solid 2px $color-bluegreen;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  width: 90%;

  &_image {
    height: 75px;
    overflow: hidden;
    max-width: 100px;
  }

  &_text {
    text-align: center;
    margin: 0.5rem 1rem;
    flex: 2;
    &_head {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0.3rem;
      border-bottom: 1px solid $dark-gray;
    }
    &_title {
      margin: 0;
      font-size: 0.9rem;
    }
  }
}

// avatar notification and evolution

.evol-container {
  // height: 500px;
  // width: 500px;
  text-align: center;
  position: relative;

  // .avatar {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
}

.slide-out-bck-center {
  animation: slide-out-bck-center 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53)
    both;
}
