// .oda-nav-items {
//     position: absolute;
//     height: 100%;
//     width: 100%;
//     top: 0;
//     z-index: 50;
//     @include breakpoint(1000px){
//         max-width: 1000px;
//         margin-left: calc((100vw - 1000px) / 2);
//     }
// }

.oda-container {
    // height: calc(100% - 3.2rem);
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: -3.2rem;
}
.oda-container-2 {
    // height: calc(100% - 3.2rem);
    height: 100vh;
    // max-width: 1000px;
    margin: 0 auto;
    position: relative;
    top: -3.2rem;
}

.eval-nav{
    position: absolute;
    width: 60%;
    bottom: 0vh;
    left: 50%;
    transform: translateX(-50%);
    @include breakpoint(1000px){
        width: 40% !important;
    }
    @include breakpoint(landscape){
        width: 30%;
    }
    // @include breakpoint (500px){
    //     width: 40%;
    // }
    z-index: 11;
}
.eval-nav-2{
    position: absolute;
    width: 80%;
    bottom: 0vh;
    left: 0%;
    transform: translateX(-50%);
    @include breakpoint(1000px){
        width: 20%;
    }
    // @include breakpoint (500px){
    //     width: 40%;
    // }
    z-index: 11;
}

.grid-btn{
    background-color: $light-gray;
    border: solid 4px $white;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    font-size: 1.3rem;
    padding-top: .4rem;


    // position: sticky;
    
    position: absolute;
    bottom: 10%;
    // bottom: 6rem;
    left: 1rem;
    z-index: 11;

    color: $color-violet;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    @include breakpoint(1000px){
        width: 5rem;
        height: 5rem;
        border-radius: 5rem;
        font-size: 2rem;
        padding-top: .9rem;
        top: 85vh;
        // bottom: 2rem;
        left: 2rem;
    }
}

.return-btn {
    background-color: $light-gray;
    border: solid 4px $white;
    width: 3rem;
    height: 3rem;
    border-radius: 3rem;
    text-align: center;
    font-size: 1.3rem;
    padding-top: .4rem;
    position: absolute;
    bottom: 10%;
    right: 1rem;
    z-index: 11;
    color: $color-violet;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    @include breakpoint(1000px){
        width: 5rem;
        height: 5rem;
        border-radius: 5rem;
        font-size: 2rem;
        padding-top: .9rem;
        top: 85vh;
        right: 2rem;
    }
}

.section {
    padding-left: 2rem;
    padding-right: 2rem;
}


#fp-nav.left {
    left: 5px !important;
    @include breakpoint(1000px){
        left: calc((100vw - 1000px) / 2) !important;
    }
}

.oda-title{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-top: 20%;
    @include breakpoint(landscape){
        margin-top: 0;
    }
    @include breakpoint(1000px){
        margin-top: 10%;
    }
}

.oda-desc {
    text-align: center;
    @include breakpoint(1000px){
        padding: 0 6rem;
        font-size: 1.2rem;
    }
}


.oda-tags{
    margin-top: 1.5rem;
    // margin-bottom: 10rem;
    @include breakpoint(1000px){
        margin-top: 1.5rem;
        // margin-bottom: 5rem;
        padding: 0 8rem;
    }
    ul{
        list-style: none;
        margin: 0;
        text-align: center;
        // margin: 1rem 
        // padding: 1rem

        li{
            display: inline-block;
            font-size: .8rem;
            color: $white;
            background-color: $color-peri;
            padding: .2rem .4rem;
            border-radius: 1rem;
            margin: .2rem 0;

        }
    }
}


// eval button 

#menu {
    display: block;
    margin: 0 auto;
    /*overflow: visible;*/
    /* uncomment this if you are using bouncing animations*/
}

a {
    cursor: pointer;
    /* SVG &lt;a&gt; elements don't get this by default, so you need to explicitly set it */
    outline: none;
}

/* You can change these default styles any way you want */

.item .sector {
    transition: all .1s linear;
    // fill: $color-primary;
    stroke: transparent;
}

.s1{
    fill: darken($color-primary, 10);    
}

.s2{    
    fill: darken($color-primary, 5);    
}

.s3{    
    fill: $color-primary;    
}

.s4{
    fill: lighten($color-primary, 5);    
}

.s5{
    fill: lighten($color-primary, 10);
}


.item:hover .sector,
.item:focus .sector {
    fill: #eee;
}

.menu-trigger {
    fill: rgb(67, 253, 129);
    pointer-events: auto;
    /* KEEP THIS to make sure it stays clickable even when SVG's pointer events is disabled */
}

.menu-trigger:hover,
.menu-trigger:focus {
    cursor: pointer;
    fill: rgb(57, 233, 116);
    transition: all .2s;
}

symbol {
    overflow: visible;
    /* KEEP THIS so that text will not get cut off it it is wider than the icon width */
}

.eval-text {
    color: white;
    font-size: 3rem;
    text-transform: lowercase;
    font-weight: bold;
}


#section1 {
    background-color: $color-orange;
}
#section2 {
    background-color: $color-bluegreen;
}
#section3 {
    background-color: $color-yellow;
}
#section4 {
    background-color: $color-secondary;
}
#section5 {
    background-color: $color-violet;
}


// micro odas

.micro-tags {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 15%;
    @include breakpoint(1000px){
        margin-top: 5% !important;
        font-size: 1rem;
        margin-bottom: 2rem;       
    }
    @include breakpoint(landscape){
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: .9rem;
        
    }

    ul {
        list-style: none;
        margin: 0;

        li {
            background-color: $color-peri;
            padding: .2rem .5rem;
            @include breakpoint(landscape){
                padding: .1rem .4rem;
            }
            border-radius: 1rem;
            display: inline-block;
            color: $white;
            margin: .2rem 0;
        }
    }
}

.micro-image {
    display: block;
    width: 15rem;
    height: 15rem;
    margin-left: auto;
    margin-right: auto;
    // margin-bottom: 7rem;
    @include breakpoint(1000px){
        width: 40%;
        padding-bottom: 40%;
        // margin-bottom: 6rem;

    }
    
    background-color:violet;
    position: relative;

    ul {
        position: absolute;
        top: 0;
        left: -1rem;
        list-style: none;
        margin: 0%;
        @include breakpoint(1000px){
            left: -2rem;
        }

        li {
            display: block;
            background-color: cyan;
            width: 2rem;
            height: 2rem;
            border-radius: 2rem;
            margin-bottom: 1rem;
            @include breakpoint(1000px){
            width: 4rem;
            height: 4rem;
            border-radius: 4rem;
            margin-bottom: 1rem;
            padding-top: 10px;
            font-size: 1.7rem;
            }
            text-align: center;
            padding-top: 4px;
        }
    }

}

.scroll-words{
    text-align: center;
    // font-weight: bold;
    font-size: 1rem;
    margin-top: 1rem;
    color: rgba($color-primary, .5);
}

@-webkit-keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  .blink{
      text-decoration: blink;
      -webkit-animation-name: blinker;
      -webkit-animation-duration: 5s;
      -webkit-animation-iteration-count:infinite;
      -webkit-animation-timing-function:ease-in-out;
      -webkit-animation-direction: alternate;
  }