// style for recent activity

.recent-container{
    max-width: 500px;

    .recent-activity-item {
        height: 120px;
    }
    
}

.recent-title {
    padding: .5rem 1rem;
    font-size: 1.2rem;
}