---
layout: logged-in
name: For logged in Users
---
<div class="grid-container">
    <div class="grid-x">
        <div class="cell-medium-12">
            <h4>Álgebra</h4>
        </div>
        <div class="cell medium-12">
            {% for odas, section_images in content_images %}
                <div class="cell shrink">
                <div id="section-{{ forloop.counter }}">
                    {% for oda in odas %}
                        <a href="#"><img data-n="{{ forloop.parentloop.counter }}-{{ oda.zone_field }}" src="{{ MEDIA_URL }} {{ oda.active_icon_field.file_field.url}}"></a>
                    {% endfor %}
                </div>
                    <div class="canvas">
                <!-- imagen de la seccion actual -->
                <img src="{{ MEDIA_URL }} {{ section_images.file_field.url}}" alt="" class="drop-bg">
                <div class="frame">
                    <div id="{{ forloop.counter }}-1" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-2" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-3" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-4" class="drop-area"></div>
                </div>
                <div class="frame">
                    <div id="{{ forloop.counter }}-5" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-6" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-7" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-8" class="drop-area"></div>
                </div>
                <div class="frame">
                    <div id="{{ forloop.counter }}-9" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-10" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-11" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-12" class="drop-area"></div>
                </div>
                <div class="frame">
                    <div id="{{ forloop.counter }}-13" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-14" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-15" class="drop-area"></div>
                    <div id="{{ forloop.counter }}-16" class="drop-area"></div>
                </div>

            </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>