<div class="reveal" id="exampleModal1" data-reveal>
  <h2 class="text-center">¡Nueva evolución!</h2>
  <div class="evol-container">
      <div class="avatar">
          <img src="../assets/media/avatars/c02.png" alt="" class="">
      </div>
      <div class="avatar-new">
          <img src="../assets/media/avatars/c03.png" alt="" class="">
      </div>
  </div>
  <button class="close-button" data-close aria-label="Close modal" type="button">
      <span aria-hidden="true">&times;</span>
  </button>
</div>