<div class="badge-cell">
  <div class="badge-cell_stars">
    <i class="fa fa-star earned"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="badge-cell_img">
    <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
  </div>
  <div class="badge-cell_title">
    Propedéutico  XXI
  </div>
</div>
<!-- start new baDE -->
<div class="badge-cell">
  <div class="badge-cell_stars">
    <i class="fa fa-star earned"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="badge-cell_img">
    <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
  </div>
  <div class="badge-cell_title">
    Propedéutico Persona del Siglo XXI
  </div>
</div>
<!-- start new baDE -->
<div class="badge-cell">
  <div class="badge-cell_stars">
    <i class="fa fa-star earned"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="badge-cell_img">
    <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
  </div>
  <div class="badge-cell_title">
    Propedéutico Persona del Siglo XXI
  </div>
</div>
<!-- start new baDE -->
<div class="badge-cell">
  <div class="badge-cell_stars">
    <i class="fa fa-star earned"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="badge-cell_img">
    <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
  </div>
  <div class="badge-cell_title">
    Propedéutico Persona del Siglo XXI
  </div>
</div>
<!-- start new baDE -->
<div class="badge-cell">
  <div class="badge-cell_stars">
    <i class="fa fa-star earned"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="badge-cell_img">
    <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
  </div>
  <div class="badge-cell_title">
    Propedéutico Persona del Siglo XXI
  </div>
</div>
<!-- start new baDE -->
<div class="badge-cell">
  <div class="badge-cell_stars">
    <i class="fa fa-star earned"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="badge-cell_img">
    <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
  </div>
  <div class="badge-cell_title">
    Propedéutico Persona del Siglo XXI
  </div>
</div>
<!-- start new baDE -->
<div class="badge-cell">
  <div class="badge-cell_stars">
    <i class="fa fa-star earned"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="badge-cell_img">
    <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
  </div>
  <div class="badge-cell_title">
    Propedéutico Persona del Siglo XXI
  </div>
</div>
<!-- start new baDE -->
<div class="badge-cell">
  <div class="badge-cell_stars">
    <i class="fa fa-star earned"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="badge-cell_img">
    <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
  </div>
  <div class="badge-cell_title">
    Propedéutico Persona del Siglo XXI
  </div>
</div>
<!-- start new baDE -->
<div class="badge-cell">
  <div class="badge-cell_stars">
    <i class="fa fa-star earned"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="badge-cell_img">
    <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
  </div>
  <div class="badge-cell_title">
    Propedéutico Persona del Siglo XXI
  </div>
</div>
<!-- start new baDE -->
<div class="badge-cell">
  <div class="badge-cell_stars">
    <i class="fa fa-star earned"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="badge-cell_img">
    <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
  </div>
  <div class="badge-cell_title">
    Propedéutico Persona del Siglo XXI
  </div>
</div>
<!-- start new baDE -->
<div class="badge-cell">
  <div class="badge-cell_stars">
    <i class="fa fa-star earned"></i>
    <i class="fa fa-star"></i>
    <i class="fa fa-star"></i>
  </div>
  <div class="badge-cell_img">
    <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
  </div>
  <div class="badge-cell_title">
    Propedéutico Persona del Siglo XXI
  </div>
</div>
<!-- start new baDE -->