
  <!-- begin achievement -->
  <div class="achievement">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      + 10,000 XP
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement new">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
  <!-- begin achievement -->
  <div class="achievement wip">
    <div class="achievement_icon">
     <img src="../assets/media/Insignias/insignia_ambito.png" alt="">
    </div>
    <div class="achievement_text">
      Completa 7 µODAs del propedéutico de ciencias
    </div>
    <div class="achievement_counter">
      7/7
    </div>
    <div class="achievement_tip">
      Desbloquea primera versión de la Insignia
    </div>
  </div>
  <!-- end echievemetn -->
    
