<div class="main-menu" style="display: none">
    <div class="main-menu-container">
        <ul class="accordion" data-accordion data-allow-all-closed="true">
            <li class="accordion-item top-item" data-accordion-item >
                <!-- Accordion tab title -->
                <a href="#" class="accordion-title">Indice</a>

                <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                <div class="accordion-content" data-tab-content>
                    <ul class="accordion" data-accordion>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Accordion 1</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>

                                <a> lorem ipsum </a><br>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Accordion 1</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>

                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Accordion 1</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>

                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Accordion 1</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>

                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Accordion 1</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>

                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Accordion 1</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>

                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Accordion 1</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>

                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                            </div>
                        </li>
                        
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Accordion 1</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>

                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                            </div>
                        </li>
                        <li class="accordion-item" data-accordion-item>
                            <!-- Accordion tab title -->
                            <a href="#" class="accordion-title">Accordion 1</a>

                            <!-- Accordion tab content: it would start in the open state due to using the `is-active` state class. -->
                            <div class="accordion-content" data-tab-content>

                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                                <a> lorem ipsum </a><br>
                            </div>
                        </li>
                        <!-- ... -->
                    </ul>
                </div>
            </li>
           
        </ul>
        <div class="menu-test">
            <a href="#" class="dashboard-test-button">
                <i class="fas fa-vial"></i> Test
            </a>
        </div>
        <hr>
        <div class="end-sesh">
            <a href="##" class="end-sesh-btn"> <i class="fa fa-sign-out-alt "></i> Cerrar sesión</a>
        </div>
    </div>

</div>
<div class="menu-cover" style="display: none">

</div>