<!-- Menu -->
<ul class="vertical menu menu-item">
    <li><a href="index.html"><strong>alumnica</strong></a></li>
    <li><a href="acerca.html">Acerca de Alumnica</a></li>
    <li><a href="#">FAQ</a></li>
</ul>
<ul class="vertical menu" data-accordion-menu>
    <li>
        <a href="#">Indice</a>
        <ul class="menu vertical nested">
            <li>
                <a href="#">1</a>
            </li>
            <li>
                <a href="#">2</a>
            </li>
            <li>
                <a href="#">3</a>
            </li>
        </ul>
    </li>
</ul>