<div data-sticky-container>
    <div class="title-bar" data-sticky data-options="marginTop:0;" style="width:100%" data-sticky-on="small">
        <div class="title-bar-left">
            
           <!-- menu button -->
        </div>
        <div class="title-bar-right">
            <div class="button profile-button" data-toggle="offCanvasRight">
                <span class="title-bar-text hide-for-small-only">Nombre de el Usuario </span>
                <img src="http://via.placeholder.com/30x30" alt="">
            </div>
        </div>
    </div>
</div>


