<div class="top-nav">
    <div class="top-nav-container">
        <!-- <div class="top-nav-container-left"> -->
        <button class="menu-open" type="button" id="ham-btn-out">
            <i class="fas fa-bars"></i>
        </button>
        <a href="dashboard.html" class="top-nav-title" title="Dashboard">
            <img src="../assets/media/alumnica-logo-100.png" alt="">
        </a>
        
    </div>
</div>
<div class="out-menu" style="display: none;">
    <ul>
        <li>
            <a href="https://www.alumnica.org"><img src="../assets/media/alumnica-favico.png" alt=""> Alumnica.org</a>
        </li>
    </ul>
</div>
<div class="menu-cover-out" style="display: none;"></div>