<div data-sticky-container>
    <div class="top-bar" data-sticky data-options="marginTop:0;">
        <div class="top-bar-left">
                <button class="hamburger hamburger--slider" type="button" data-toggle="offCanvas">
                        <span class="hamburger-box">
                            <span class="hamburger-inner"></span>
                        </span>
                </button>
        </div>
        <div class="top-bar-right">
            
        </div>
    </div>
</div>