<!-- <div class="noti-wrapper" style="display:none;"> -->
<!-- <div class="noti-wrapper"> -->
  <!-- <div class="grid-container"> -->
    <div class="noti-cont" id="notiCont">
      <a class="noti">
        <div class="noti_icon">
          <div class="icon_container">
            <i class="fa fa-trophy"></i>
          </div>
        </div>
        <div class="noti_text">
          ganaste algo wey
        </div>
      </a>
      <a class="noti new">
        <div class="noti_icon">
          <div class="icon_container">
            <i class="fa fa-chart-line"></i>
          </div>
        </div>
        <div class="noti_text">
          ganaste algo wey
        </div>
      </a>
      
    </div>
  <!-- </div> -->
<!-- </div> -->