<button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
</button>
<div class="grid-x grid-padding-x grid-margin-y u-margin-top-small">
        <div class="cell medium-12 text-center">
                <img src="http://via.placeholder.com/200/fffff" alt="">
        </div>
        <div class="cell medium-12 text-center">
                <h3>Nombre De El Estudiante</h3>
                <p>
                        <i class="fas fa-star star"></i> 10,5678</p>

        </div>
        <div class="cell small-12">
                <ul class="user-menu">
                        <li>
                                <i class="fas fa-columns"></i> Dashboard Principal
                        </li>
                        <li>
                                <i class="fas fa-user"></i> Profile Settings
                        </li>
                </ul>
        </div>
        <div class="cell small-12 text-center ">
                <a href="{% url 'logout_view' %}" class="button warning caps u-margin-top-medium">Cerrar Sesión</a>
        </div>
</div>