<button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
</button>
<div class="grid-x grid-padding-x grid-margin-y u-margin-top-small">
    <div class="cell medium-12 text-center">
            <img src="http://via.placeholder.com/200/fffff" alt="">
    </div>
    <div class="cell medium-12 text-center">
        <h3>Nombre De El Estudiante</h3>
        <p><i class="fas fa-star star"></i> 10,5678</p>
        <div class="warning progress">
                <div class="progress-meter" style="width: 80%"></div>
        </div>
    </div>
    <div class="cell medium-12 text-center">
            Insignias:
    </div>
    <div class="cell small-3 text-center"><img src="http://via.placeholder.com/80x80/6a83c0" alt=""></div>   
    <div class="cell small-3 text-center"><img src="http://via.placeholder.com/80x80/6a83c0" alt=""></div>   
    <div class="cell small-3 text-center"><img src="http://via.placeholder.com/80x80/6a83c0" alt=""></div>   
    <div class="cell small-3 text-center"><img src="http://via.placeholder.com/80x80/6a83c0" alt=""></div>   
</div>