<div class="recent-cell">
  <div class="recent-cell_icon">
    <img src="../assets/media/pwa-icons/icon-96x96.png" alt=""> 

  </div>
  <div class="recent-cell_num">
    2000 XP
  </div>
  <div class="recent-cell_title">
    uODA - Quimica organica 2
  </div>
  <div class="recent-cell_date">
    1d
  </div>
</div>

<div class="recent-cell">
  <div class="recent-cell_icon">

    <img src="../assets/media/pwa-icons/icon-96x96.png" alt="">

  </div>
  <div class="recent-cell_num">
    2000 XP
  </div>
  <div class="recent-cell_title">
    uODA - Quimica organica 2
  </div>
  <div class="recent-cell_date">
    1d
  </div>
</div>