<div class="recent-cell">
  <div class="recent-cell_icon">
    <i class="fas fa-trophy"></i>
  </div>
  <div class="recent-cell_num">
    2000 XP
  </div>
  <div class="recent-cell_title">
    uODA - Quimica organica 2
  </div>
  <div class="recent-cell_date">
    1d
  </div>
</div>
<div class="recent-cell">
  <div class="recent-cell_icon">
    <i class="fas fa-chart-line"></i>
  </div>
  <div class="recent-cell_num">
    2000 XP
  </div>
  <div class="recent-cell_title">
    uODA - Quimica organica 2
  </div>
  <div class="recent-cell_date">
    1d
  </div>
</div>
<div class="recent-cell">
  <div class="recent-cell_icon">
    <i class="fas fa-child"></i>
  </div>
  <div class="recent-cell_num">
    2000 XP
  </div>
  <div class="recent-cell_title">
    uODA - Quimica organica 2
  </div>
  <div class="recent-cell_date">
    1d
  </div>
</div>
<div class="recent-cell">
  <div class="recent-cell_icon">
    <i class="fas fa-book"></i>
  </div>
  <div class="recent-cell_num">
    2000 XP
  </div>
  <div class="recent-cell_title">
    uODA - Quimica organica 2
  </div>
  <div class="recent-cell_date">
    1d
  </div>
</div>
<div class="recent-cell">
  <div class="recent-cell_icon">
    <i class="fas fa-file-alt"></i>
  </div>
  <div class="recent-cell_num">
    2000 XP
  </div>
  <div class="recent-cell_title">
    uODA - Quimica organica 2
  </div>
  <div class="recent-cell_date">
    1d
  </div>
</div>
